header {
    display: flex;
    height:80px;
    align-items:center;
    justify-content: space-between;
    
}
header ul {
    display: flex;
    list-style: none;
}

header li{
    padding: 0 30px;
}
header * {
    vertical-align: middle;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu{
    font-size: 18px;
}
.menu li{
    transition: 0.5s;
}
.menu li:hover {
    color: #000;
    font-weight:bold;
}

.iconDiv {
    font-size : 30px;
    border:1px solid #ccc;
    padding:6px 20px;
    line-height: 1;
    position: absolute;
    top: 16px;
    right: 30px;
    height: 50px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    z-index: 2;
}

.iconDiv:hover {
    background-color:#333;
    color:#fff;
    height: 100px;
}

.membermenu{
    flex-direction: column;
    font-size: 14px;
    padding-top: 10px;
}

.membermenu li{
    padding: 0;
    line-height: 20px;
}